<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card">
        <%= image_tag 'image_1.png', alt: 'My image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag 'image_2.png', alt: 'My image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag 'image_3.png', alt: 'My image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2">
<%= link_to('http://walteralarcongarces.cl', class: 'btn btn-primary', target: '_blank', id: 'boton_ver_mas') do %>
  <span class="fa fa-link"></span> Ver más
<% end %>
</div>