<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a card with some text content.</p>
        </div>
      </div>
    </div>
  </div>
</div>